.overlay-container {
    position: absolute;
    bottom: 20px;
    left: 14%;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: transform 0.5s ease;
  }

  /* [aria-hidden="true"] { 
    display: none; 
  }
  
  [aria-hidden="false"] { 
    display: block; 
  } */

  .overlay-head{
    font-size: x-large;
  }

  .overlay-head strong{
    color: #e50914;
    font-size: 24px;
  }
  
  .overlay-container.minimized {
    transform: scale(0.6);
  }

  .overlay-content.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  
  .overlay-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .overlay-title {
    font-size: 1.5em;
    margin: 0;
  }
  
  .overlay-subtitle {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .overlay-description {
    font-size: 1em;
    margin: 10px 0;
  }
  
  .overlay-buttons {
    display: flex;
    gap: 10px;
  }
  
  /* .play-button,
  .info-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  } */

  .play-button, .info-button{
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }


  .play-button .icon, .info-button .icon {
        margin-right: 8px;
    }

  .play-button{
    background-color: white;
    color: black;
  }

  .info-button{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  .play-button:hover,
  .info-button:hover {
    background-color: rgb(198, 182, 182);
  }  